.orderConfirmed {
  background: color-mix(in srgb, var(--color-ui-10), var(--color-ui-30) 50%);

  .overview {
    display: flex;
    gap: 32px;
    padding: 0 32px;
    transform: translateY(-32px);
  }
}

.banner {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 8px;
  padding: 150px 0 80px;
  background: var(--color-ui-80);
  color: var(--color-ui-10);
  overflow: hidden;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image:
      linear-gradient(-121deg, rgba(1, 115, 190, 0.70) 0%, rgba(1, 115, 190, 0.00) 500px),
      linear-gradient(59deg, rgba(1, 115, 190, 0.70) 0%, rgba(1, 115, 190, 0.00) 500px);
    background-repeat: no-repeat;
    background-position: bottom left, top right;
    z-index: 0;
  }

  & > * {
    position: relative;
    z-index: 1;
  }

  img {
    width: 75px;
    margin-bottom: 12px;
  }

  h1 {
    font-size: var(--font-size-xl);
    font-weight: 600;
  }

  h2 {
    font-size: var(--font-size-md);
    font-weight: normal;
  }
}

@media (max-width: 768px) {
  .orderConfirmed {
    .overview {
      flex-direction: column;
      padding: 0 12px;
    }
  }
}