.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pickupInfo {
    font-family: Figtree, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #222755;
    background-color: #E6F5FF;
    padding: 16px;
    border-left: 8px solid #0173BE;
    max-width: 800px;
}

.pickupInfo span {
    font-weight: 600;
    color: #0173BE;
}

.pickupInfo a {
    text-decoration: underline;
    color: darkblue;
}