.product {
  display: flex;
  flex-direction: column;
  padding: 104px clamp(24px, 6vw, 104px) 128px;
  align-items: center;
}

.breadcrumb {
  color: var(--color-ui-60);
  margin-top: 32px;
  text-transform: capitalize;
  user-select: none;
  align-self: flex-start;
}

.viewMoreMerch {
  margin: 80px 0 25.6px;
}