.product {
  display: flex;
  flex-direction: column;
  padding: 130px clamp(30px, 6vw, 130px) 160px;
  align-items: center;
}

.breadcrumb {
  color: var(--color-ui-60);
  margin-bottom: 30px;
  text-transform: capitalize;
  user-select: none;
  align-self: flex-start;
}

.overview {
  display: flex;
  flex-wrap: wrap;
  gap: clamp(20px, 6vw, 60px);
  justify-content: center;
}

.viewMoreMerch {
  margin: 100px 0 32px;
}