.navbar {
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    padding: 20px 40px;
    top: 0;
    width: 100%;
    z-index: 1;
}

.backlinkButton {
    background: none;
    color: #222755;
    font-size: 16px;
    font-weight: 600;
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    display: block;
    font-family: Figtree, sans-serif;
}

.backlinkButton:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.logo {
    width: 160px;
    height: auto;
    cursor: pointer;
}

.linkContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
}

.linkContainer {
    a:hover {
        color: #4f58a9;
    }
}