.navbar {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  gap: 20px;
  padding: 20px clamp(4px, 4vw, 30px);
  background: var(--color-ui-10);
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  .logo {
    position: relative;
    width: 150px;
    height: 37px;
  }

  .links {
    display: flex;
    gap: clamp(4px, 2vw, 20px);
    align-items: center;

    > * {
      padding: 4px;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: var(--color-ui-60);
      }
    }

    .cart {
      position: relative;
      width: 30px;
      height: 30px;

      &:hover {
        transform: scale(1.1);
      }

      .badge {
        display: flex;
        position: absolute;
        width: 20px;
        height: 20px;
        top: -8px;
        right: -8px;
        background: var(--color-ui-60);
        border-radius: 50%;
        font-size: var(--font-size-xs);
        font-weight: bold;
        color: var(--color-ui-10);
        align-items: center;
        justify-content: center;
        pointer-events: none;
        z-index: 1;
      }
    }
  }
}