.navbar {
  display: flex;
  position: fixed;
  top: 12px;
  left: 50%;
  width: 75%;
  gap: 16px;
  padding: 12px clamp(3.2px, 4vw, 24px);
  background: var(--color-ui-80);
  border-radius: 12px;
  box-shadow: 0px 4px 30px -1px rgba(0, 0, 0, 0.35);
  font-size: var(--font-size-md);
  font-weight: bold;
  color: var(--color-ui-10);
  align-items: center;
  justify-content: space-between;
  transform: translate(-50%, 0);
  z-index: 100;

  .logo {
    position: relative;
    width: 120px;
    height: 29.6px;
  }

  .links {
    display: flex;
    gap: clamp(0px, 1.6vw, 12px);
    align-items: center;

    > * {
      padding: clamp(3px, 0.8vw, 10px) clamp(5px, 0.8vw, 13px);
      border-radius: 10px;
      transition: all 0.2s ease-in-out;

      &:hover {
        background: color-mix(in srgb, var(--color-ui-60), var(--color-ui-80) 60%);
        box-shadow: inset 0px 0px 8px 1px color-mix(in srgb, var(--color-ui-100), transparent 75%);
      }
    }

    .cart {
      position: relative;
      width: 24px;
      height: 24px;

      img {
        filter: brightness(0) invert(1);
      }

      &:hover {
        background: none;
        box-shadow: none;
        transform: scale(1.15);
      }

      .badge {
        display: flex;
        position: absolute;
        width: 16px;
        height: 16px;
        top: -6.4px;
        right: -6.4px;
        background: var(--color-ui-60);
        border-radius: 50%;
        font-size: var(--font-size-xs);
        font-weight: bold;
        color: var(--color-ui-10);
        align-items: center;
        justify-content: center;
        pointer-events: none;
        z-index: 1;
      }
    }
  }
}