.footer {
    position: relative;
    padding: 32px;
    background: var(--color-ui-80);
    overflow: hidden;
}

.footer::before {
    content: "";
    position: absolute;
    inset: 0;

    background-image:
        linear-gradient(-121deg, rgba(1, 115, 190, 0.70) 0%, rgba(1, 115, 190, 0.00) 500px),
        linear-gradient(59deg, rgba(1, 115, 190, 0.70) 0%, rgba(1, 115, 190, 0.00) 500px);

    background-repeat: no-repeat;
    background-position: bottom left, top right;

    z-index: 0;
}

.footer > * {
    position: relative;
    z-index: 1;
}

.content {
    display: flex;
    flex-direction: column;
    gap: clamp(20px, 8vw, 60px);
    align-items: center;
    justify-content: space-between;
}

.blurb {
    font-family: Figtree, sans-serif;
    font-size: 19.2px;
    margin-top: 19.2px;
    font-weight: lighter;
    color: var(--color-ui-10);
    text-align: center;
}

.logo {
    width: 132px;
    height: 132px;
}

.socialContainer {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(24px, 8vw, 56px);
    align-items: center;
    justify-content: center;
}

.icon {
    position: relative;
    width: 40px;
    height: 40px;
    object-fit: cover;
    color: var(--color-ui-10);
    transition: all 0.2s ease-in-out;
}

.icon:hover {
    color: #ccc;
}

.copyright {
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-ui-10);
    line-height: 24px;
    letter-spacing: 0;
}